name: Clang Format Checker
on: [ push ]
jobs:
  clang-format-checking:
    runs-on: ubuntu-latest
    steps:
      - name: Restore cached package lists
        uses: actions/cache@v4
        with:
          path: /var/cache/apt/archives
          key: ${{ runner.os }}-Package-Lists-${{ github.ref_name }}

      - name: Install additional dependencies
        run: |
          sudo apt-get install -y \
          g++-multilib \
          nasm \
          grub2-common \
          xorriso \
          mtools

      - name: Fix APT cache permissions
        run: sudo chown -R runner:runner /var/cache/apt/archives

      - uses: actions/checkout@v2
      - uses: RafikFarhad/clang-format-github-action@v3
        with:
          sources: "src/**/*.hpp,src/**/*.cpp,test/**/*.cpp"

      - name: Restore cached build
        uses: actions/cache@v4
        with:
          path: |
            build
          key: ${{ runner.os }}-build-${{ github.ref_name }}

      - name: Run unit tests
        run: make test

      - name: Build image
        run: make iso