name: Clang Format Checker
on: [push]
jobs:
  clang-format-checking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: RafikFarhad/clang-format-github-action@v3
        with:
          sources: "src/**/*.hpp,src/**/*.cpp,test/**/*.cpp"
#      - uses: cpp-linter/cpp-linter-action@v2
#        id: linter
#        with:
#          style: 'file'  # Use .clang-format config file
#          tidy-checks: '.clang-tidy' # Use .clang-tidy config file
#           only 'update' a single comment in a pull request thread.
#          thread-comments: ${{ github.event_name == 'pull_request' && 'update' }}
#      - name: Fail fast?!
#        if: steps.linter.outputs.checks-failed > 0
#        run: exit 1
      - name: Run unit tests
        run: make test