name: Clang Format Checker
on: [ push ]
jobs:
  clang-format-checking:
    runs-on: ubuntu-latest
    steps:
      - name: Restore cached package lists
        uses: actions/cache/restore@v4
        with:
          path: |
            /var/cache/apt
            /var/lib/apt/lists
          key: ${{ runner.os }}-${{ hashFiles('.github/apt-packages.txt') }}

      - name: Install additional dependencies
        run: |
          sudo apt-get install -y \
          g++-multilib \
          nasm \
          grub2-common \
          xorriso \
          mtools

      - uses: actions/checkout@v2
      - uses: RafikFarhad/clang-format-github-action@v3
        with:
          sources: "src/**/*.hpp,src/**/*.cpp,test/**/*.cpp"

      - name: Restore cached build
        uses: actions/cache/restore@v4
        with:
          path: |
            build
          key: ${{ runner.os }}-build

      - name: Run unit tests
        run: make test

      - name: Build image
        run: make iso

      - name: Save cached build
        uses: actions/cache/save@v4
        with:
          path: build
          key: ${{ runner.os }}-build