name: Parent Merged
on: [ push ]
jobs:
  parent-merged:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
          fetch-tags: 'true'

      - name: Check Parent
        run: |
          CURRENT_BRANCH="$(git branch --show-current)"
          COMMITS="$(git log ${CURRENT_BRANCH} --pretty=format:'%H')"
          
          echo $CURRENT_BRANCH
          
          for COMMIT in ${COMMITS}; do
            echo "Testing commit ${COMMIT}..."
            ALL_BRANCHES="$(git branch --remote --contains ${COMMIT} | sed 's/^[ *]*//')"
          
            # Skip if the commit is only in the current branch
            if [[ ${ALL_BRANCHES#origin/} == $CURRENT_BRANCH ]]; then
              echo "Commit ${COMMIT} is only in the current branch. Skipping."
              continue
            fi
          
            COMMIT_FOUND_IN_MAIN=0
          
            for BRANCH in ${ALL_BRANCHES};
            do
              if [[ ! $CURRENT_BRANCH =~ ${BRANCH#origin/} ]]; then
                NAME="${BRANCH#origin/}"
                if [[ $NAME == "main" ]]; then
                  COMMIT_FOUND_IN_MAIN=1
                fi
              fi
            done
          
            if [[ $COMMIT_FOUND_IN_MAIN -eq 0 ]]; then
              echo "Commit ${COMMIT} not found in main branch. Failing the job."
              exit 1
            else
              echo "Commit ${COMMIT} found in main branch."
            fi
          done