name: Parent Merged
on: [ push ]
jobs:
  parent-merged:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
          fetch-tags: 'true'

      - name: Check Parent
        run: |
          CURRENT_BRANCH="$(git branch --show-current)"
          COMMITS="$(git log ${CURRENT_BRANCH} --pretty=format:'%H')"
          
          echo $CURRENT_BRANCH
          
          for COMMIT in ${COMMITS}; do
            echo "Testing commit ${COMMIT}..."
            ALL_BRANCHES="$(git branch --remote --contains ${COMMIT} | sed 's/^[ *]*//')"
          
            for BRANCH in ${ALL_BRANCHES};
            do
              if [[ ! $CURRENT_BRANCH =~ ${BRANCH#origin/} ]]; then
                NAME="${BRANCH#origin/}"
                if [[ $NAME == "main" ]]; then
                  echo "Commit ${COMMIT} found in main branch. Merge allowed."
                  exit 0
                else
                  echo "Found parent branch ${NAME} for commit ${COMMIT}. Merge ${NAME} into main before proceeding."
                  exit 1
                fi
              fi
            done
          done